<html>
    <body>
        <form action="/questions/edit" method="post">
            <% q=Question.find(@qid) %>
            <textarea name="question" placeholder="Question"><%=q.question%></textarea>
            <input type="text" name="answer" value="<%=q.answer%>" placeholder="Answer">
            <input type="text" name="flag" value="<%=q.flag%>" placeholder="Flag">
            <input type="hidden" name="id" value="<%=@qid.to_s%>">
            <input type="submit" value="Save"> 
        </form>
    </body>
</html>